button {
    position: relative;
    left: 10px;
    border: none;
    top: 3px;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}

button div{
    width: 33px;
    height: 4px;
    background-color: #686868;
    margin: 5px;
    transition: 0.3s;
    border-radius: 3px;
}

.KontMenu {
    grid-area: 2 / 2 / 3 / 4;

    background: white;
    position: relative;
    top: -17%;
    opacity: 0.92;
}

.KontNavbar {
    display: grid;
    grid-template-columns: 50px 143px;
    top: 9px;
    left: 30px;
}

.KontMenu.line_menu {
    background: rgb(61, 38, 38);
    height: 2.7px;
    position: relative;
    top: 50px;
    opacity: 0.5;
}