:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.KontWrapper {
  display: grid;
  grid-template-rows: 14% 45px 1fr 80px;
  grid-template-columns: 70px 47% 1fr;
  height: 100vh;
  margin: 0;
}

